/*
* 清除默认样式
*/
*{
    margin:0;
    padding:0;
}

/*
* 设置ul
*/
.nav{
    /*去除前面的点符号*/
    list-style: none;
    /*为ul设置一个背景颜色*/
    background-color: #6495ED;
    /*设置一个宽度*/
    /*
    * 在IE6中，如果为元素指定了一个宽度，则会默认开启hasLayout
    */
    width: 200px;
    /*设置元素居中*/
    margin: 100px auto;
    /*解决高度塌陷*/
}

/**
* 设置li
*/
.nav li{


}

.nav a{
    /*将a转换为块元素*/
    display: block;
    /*为a指定一个宽度*/
    width: 100%;
    /*设置文字居中*/
    text-align: center;
    /*设置一个上下内边距*/
    padding: 5px 0;
    /*去除下划线*/
    text-decoration: none;
    /*设置字体颜色*/
    color: white;
    /*设置加粗*/
    font-weight: bold;
}

/*
* 设置a的鼠标移入的效果
*/
.nav a:hover{
    background-color: #c00;
}
h1{
    text-align: center;
}

.look {
    display: none;
}

